<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading">Create or edit a Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_placedDate">Placed Date</label>
          <div class="d-flex">
            <input
              id="field_placedDate"
              data-cy="placedDate"
              type="datetime-local"
              class="form-control"
              name="placedDate"
              formControlName="placedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('placedDate')!.invalid && (editForm.get('placedDate')!.dirty || editForm.get('placedDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('placedDate')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('placedDate')?.errors?.datetimelocal">
              Bu alan tarih veya zaman içermeli.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalQuantity">Total Quantity</label>
          <input
            type="number"
            class="form-control"
            name="totalQuantity"
            id="field_totalQuantity"
            data-cy="totalQuantity"
            formControlName="totalQuantity"
          />
          <div
            *ngIf="
              editForm.get('totalQuantity')!.invalid && (editForm.get('totalQuantity')!.dirty || editForm.get('totalQuantity')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('totalQuantity')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalQuantity')?.errors?.number">
              Bu alan numara içermeli.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          <div *ngIf="editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('totalPrice')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalPrice')?.errors?.number"> Bu alan numara içermeli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let orderStatus of orderStatusValues" [value]="orderStatus">orderStatus</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_adress">Adress</label>
          <select
            class="form-control"
            id="field_adress"
            data-cy="adress"
            name="adress"
            formControlName="adress"
            [compareWith]="compareUserAdress"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userAdressOption" *ngFor="let userAdressOption of userAdressesSharedCollection">
              {{ userAdressOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>İptal</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Kaydet</span>
        </button>
      </div>
    </form>
  </div>
</div>
