<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userAdress">
      <h2 data-cy="userAdressDetailsHeading"><span>User Adress</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userAdress.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ userAdress.name }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ userAdress.lastName }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ userAdress.telephone }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ userAdress.city }}</span>
        </dd>
        <dt><span>Adress</span></dt>
        <dd>
          <span>{{ userAdress.adress }}</span>
        </dd>
        <dt><span>Adress Title</span></dt>
        <dd>
          <span>{{ userAdress.adressTitle }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ userAdress.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Geri</span>
      </button>

      <button type="button" [routerLink]="['/user-adress', userAdress.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Düzenle</span>
      </button>
    </div>
  </div>
</div>
