<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-item-heading" data-cy="OrderItemCreateUpdateHeading">Create or edit a Order Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('quantity')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('quantity')?.errors?.number"> Bu alan numara içermeli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          <div *ngIf="editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('totalPrice')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalPrice')?.errors?.number"> Bu alan numara içermeli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            <option *ngFor="let orderItemStatus of orderItemStatusValues" [value]="orderItemStatus">orderItemStatus</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['product'])?.errors?.required"> Bu alan gerekli. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option *ngIf="editForm.get(['order'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="orderOption" *ngFor="let orderOption of ordersSharedCollection">{{ orderOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['order'])!.invalid && (editForm.get(['order'])!.dirty || editForm.get(['order'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['order'])?.errors?.required"> Bu alan gerekli. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>İptal</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Kaydet</span>
        </button>
      </div>
    </form>
  </div>
</div>
