<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Şifreyi sıfırla</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Şifre sıfırlama anahtarı geçersiz.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Yeni şifre seç</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Şifren sıfırlanamaz. Şifre isteği sadece 24 saat geçerlidir.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Şifren sıfırlandı.</strong> Lütfen </span>
        <a class="alert-link" routerLink="/login">Giriş</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Şifreler eşleşmedi!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Yeni Şifre</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Yeni Şifreniz"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Şifre zorunlu alandır.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Şifreniz en az 4 karakter olmak zorundadır
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Şifreniz 50 karakterden uzun olamaz
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Yeni Şifre Tekrar</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Yeni Şifreniz Tekrar"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Tekrar şifresi zorunludur.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Tekrar şifreniz en az 4 karakter olmalıdır
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Tekrar şifreniz 50 karakterden uzun olamaz
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Yeni şifreyi doğrula</button>
        </form>
      </div>
    </div>
  </div>
</div>
