<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-seller-heading" data-cy="SellerCreateUpdateHeading">Create or edit a Seller</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.minlength">
              Bu alan en az 3 karakterden oluşabilir.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.minlength">
              Bu alan en az 3 karakterden oluşabilir.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_shopName">Shop Name</label>
          <input type="text" class="form-control" name="shopName" id="field_shopName" data-cy="shopName" formControlName="shopName" />
          <div *ngIf="editForm.get('shopName')!.invalid && (editForm.get('shopName')!.dirty || editForm.get('shopName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('shopName')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('shopName')?.errors?.minlength">
              Bu alan en az 3 karakterden oluşabilir.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_mail">Mail</label>
          <input type="text" class="form-control" name="mail" id="field_mail" data-cy="mail" formControlName="mail" />
          <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mail')?.errors?.required"> Bu alan gerekli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_activated">Activated</label>
          <input type="checkbox" class="form-check" name="activated" id="field_activated" data-cy="activated" formControlName="activated" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="seller image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tckn">Tckn</label>
          <input type="text" class="form-control" name="tckn" id="field_tckn" data-cy="tckn" formControlName="tckn" />
          <div *ngIf="editForm.get('tckn')!.invalid && (editForm.get('tckn')!.dirty || editForm.get('tckn')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tckn')?.errors?.required"> Bu alan gerekli. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('tckn')?.errors?.minlength">
              Bu alan en az 11 karakterden oluşabilir.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required"> Bu alan gerekli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('city')?.errors?.required"> Bu alan gerekli. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_placedDate">Placed Date</label>
          <div class="d-flex">
            <input
              id="field_placedDate"
              data-cy="placedDate"
              type="datetime-local"
              class="form-control"
              name="placedDate"
              formControlName="placedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sellerProductType">Seller Product Type</label>
          <select
            class="form-control"
            id="field_sellerProductType"
            data-cy="sellerProductType"
            name="sellerProductType"
            formControlName="sellerProductType"
            [compareWith]="compareProductType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productTypeOption" *ngFor="let productTypeOption of productTypesSharedCollection">
              {{ productTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>İptal</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Kaydet</span>
        </button>
      </div>
    </form>
  </div>
</div>
