<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="favorite">
      <h2 data-cy="favoriteDetailsHeading"><span>Favorite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ favorite.id }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="favorite.product">
            <a [routerLink]="['/product', favorite.product.id, 'view']">{{ favorite.product.id }}</a>
          </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ favorite.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Geri</span>
      </button>

      <button type="button" [routerLink]="['/favorite', favorite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Düzenle</span>
      </button>
    </div>
  </div>
</div>
